<nav class="navbar navbar-expand-lg bg-img sticky-top" id="navbar-example2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a href="#scrollspyHeading1" class="nav-item">
          <a class="nav-link" aria-current="page"></a>
        </a>
        <a href="#scrollspyHeading2" class="nav-item">
          <a class="nav-link"></a>
        </a>
        <a href="#scrollspyHeading3" class="nav-item">
          <a class="nav-link"></a>
        </a>
        <a href="#scrollspyHeading4" class="nav-item">
          <a class="nav-link"></a>
        </a>
        <a href="#scrollspyHeading5" class="nav-item">
          <a class="nav-link"></a>
        </a>
      </ul>
    </div>
  </div>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-smooth-scroll="true" class="scrollspy-example"
  tabIndex="0">

  <section id="scrollspyHeading1" class='section-1'>

    <div class="white">
      <div class="squares">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div>
    <div class="grey"></div>
    <div class="sub-section-1">

      <!-- <Player
              src='https://lottie.host/124854c9-1054-412d-bfbd-a08997b791fd/1TKnDARTCX.json'
              class="player player1" loop autoplay
          /> -->

      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" class="player1"></ng-lottie>

      <p class="mb-0 f-48"> welcome to</p>
      <p class="mb-0 f-64"> “techmasters academy”</p>
      <p class="mb-0 f-24">
        At TechMasters Academy, we're not just another IT training center; we're a squad of tech enthusiasts ready to
        revolutionize your learning journey. Meet our dynamic quartet – Simran, Sameer, Luvkush, and Vishal – each a
        maestro in their domain, dedicated to bringing you the best in IT education.
      </p>
    </div>
  </section>
  <section id="scrollspyHeading2" class='section-2'>
    <div class="sub-section-2">
      <p class="f-40">about us</p>
      <p class="f-18">
        Ever wondered where the <span class='irish'> nerds</span> hang out? Well, wonder no more! We are the brains
        behind TechMasters Academy, a bunch of geeks turned educators.
      </p>
      <ul>
        <li class="f-18"> <span class="green">S</span>imran, The Picasso of Frontend</li>
        <li class="f-18"> <span class="green">S</span>ameer, The Cloud Whisperer</li>
        <li class="f-18"> <span class="green">L</span>uvkush, The Salesforce Sorcerer</li>
        <li class="f-18"> <span class="green">V</span>ishal, The Backend Maestro</li>
      </ul>
      <p class="f-18 mb-5">
        – Together, we form a powerhouse ready to mold you into the tech rockstars of tomorrow.
      </p>

    </div>
    <img src="../assets/imgs/about.png" alt="" class="bg-wavy-img" />
    <ng-lottie [options]="options5" (animationCreated)="animationCreated($event)" class="player2"></ng-lottie>

  </section>
  <section id="scrollspyHeading3" class='section-3'>
    <!-- {/* <h1 class="f-40 text-center mb-5">Our Courses</h1> */} -->
    <div class="sub-section-3">
      <div class="container-fluid">
        <div class="heading-div">
          <img src="../assets/imgs/Group 3.png" alt="" class="heading" />
        </div>
        <div class="row w-95">
          <div class="col-sm-3">
            <div class="course-div">
              <img src="../assets/imgs/WhatsApp Image 2023-12-31 at 13.26.47_121c33d2.jpg" alt="" class="course-img" />
              <p class="f-22">Frontend fiesta</p>
              <p class="f-16">
                Dive into the mesmerizing world of HTML, CSS, JS, Bootstrap, jQuery, Angular, and React. Simran's got
                the skills and sass to make coding feel like a walk in the digital park.
              </p>
              <button class="btn-one btn mt-3">
                <span>More Details</span>
              </button>
              <!-- <div class="box-1">
                <div class="btn btn-one">
                  <span>HOVER ME</span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-sm-3">
            <div class="course-div">
              <img src="../assets/imgs/sameer.jpg" alt="" class="course-img" />
              <p class="f-22">Cloud Carnival</p>
              <p class="f-16">
                Unleash the power of cloud computing, Java, and Android with Sameer. Warning: You might start seeing
                clouds even on sunny days after this course.
              </p>
              <!-- <button class="btn-tech">More Details</button> -->
              <button class="btn-one btn mt-3">
                <span>More Details</span>
              </button>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="course-div">
              <img src="../assets/imgs/luvkush.jpg" alt="" class="course-img" />
              <p class="f-22">Salesforce Soiree</p>
              <p class="f-16">
                Join Luvkush on a Salesforce adventure – he'll teach you the art of cloud-based CRM. Just be prepared to
                close deals like a pro by the end of it.
              </p>
              <!-- <button class="btn-tech">More Details</button> -->
              <button class="btn-one btn mt-3">
                <span>More Details</span>
              </button>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="course-div">
              <img src="../assets/imgs/vishal.jpg" alt="" class="course-img" />
              <p class="f-22">Backend Bonanza</p>
              <p class="f-16">
                Vishal takes you on a NodeJS-MongoDB rollercoaster. Brace yourself for a backend journey that's as
                smooth as his code.
              </p>
              <!-- <button class="btn-tech">More Details</button> -->
              <button class="btn-one btn mt-3">
                <span>More Details</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="scrollspyHeading4" class='section-4 mandala'>
    <div class="sub-section-4">
      <!-- <img src="../assets/imgs/Lmandala.png" alt="" class="mandala" /> -->
      <!-- <h1 class="f-40 text-center mb-0">Benefits</h1> -->
      <div class="heading-div">
        <img src="../assets/imgs/Group 4.png" alt="" class="heading" />
        <p class="f-20 text-center">of joining our course</p>
      </div>
      <div class="container-fluid position-relative">
        <div class="row w-90">
          <div class="col-sm-4">
            <div class="card benefits-card card-1">
              <div class="icon-div mb-3">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <p class="f-17">~ Interview Mastery</p>
              <p class="f-16 mb-4">
                Complete our course, and we'll pave the way for you to nail those job interviews. We're not just
                teachers; we're matchmakers with a knack for connecting talent with opportunities.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card benefits-card card-2">
              <div class="icon-div mb-3">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
              <p class="f-17">~ Real-World Wisdom</p>
              <p class="f-16 mb-4">
                Learn from seasoned professionals who've been in the IT trenches for years. Expect insights you won't
                find in textbooks.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card benefits-card card-3">
              <div class="icon-div mb-3">
                <i class="fa fa-money" aria-hidden="true"></i>
              </div>
              <p class="f-17">~ Cost-Effective Excellence</p>
              <p class="f-16 mb-4">
                Get top-notch training without breaking the bank. Because who said quality education had to be
                expensive? Certainly not us!
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <img src="../assets/imgs/Rmandala.png" alt="" class="mandala2" /> -->
    </div>
  </section>
  <section id="scrollspyHeading5" class='section-5'>
    <div class="sub-section-5">
      <div class="heading-div">
        <img src="../assets/imgs/Group 5.png" alt="" class="heading" />
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <ng-lottie [options]="options2" (animationCreated)="animationCreated($event)" class="player5"></ng-lottie>

          </div>
          <div class="col-sm-8">
            <div class="position-relative">
              <p class="f-20">
                Have questions? Need guidance? Want to argue about tabs versus spaces? Reach out to us anytime at:
              </p>
              <div class="d-flex mb-4">
                <div class="d-flex align-items-center me-5">
                  <i class="fa fa-envelope-o me-2"></i>
                  <p class="f-16 mb-0">info@techmastersacademy.com</p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-phone me-2"></i>
                  <p class="f-16 mb-0">+1 123-456-7890</p>
                </div>
              </div>
              <div class="mb-3 w-80">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
              </div>
              <div class="mb-3 w-80">
                <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder='Enter here'></textarea>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer text-center py-4 mt-4">
          <p class="f-18">All copyrights reserved © 2024 - Designed & Developed by Simran Saini.</p>
        </footer>
      </div>
    </div>
  </section>
</div>